<!doctype html>
<html lang="nl">
<head>
    <title>Besteloverzicht van AZGewinkel</title>
    <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@4.0.0/github-markdown.css"/>
    <style>
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
        }

    </style>
</head>
<body>
<div class="markdown-body">
    <h1>Besteloverzicht <a href="{{ url }}">AZGewinkel</a></h1>
    <p>Overzichtspagina voor <a href="https://azgewinkel.ddns.net">azgewinkel.ddns.net</a></p>
    <h2>Per afdeling</h2>
    {% for customer in orders_by_customer.keys() %}
    <h3>
        {% if linkable %}
        <a href="{{ url }}{{ customer.shortname }}">
            {% endif %}
            {{ customer.name }}
            {% if linkable %}
        </a>
        {% endif %}
    </h3>
    {% for order in orders_by_customer[customer] %}
    <h4># {{ order.id }} - {{ order.status.name }}</h4>
    <ul>
        {% for line_item in order.line_items %}
        <li>
            {{ line_item }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}
    <h2>Per status</h2>
    <ol>
        {% for status in all_statuses %}
        <li>{{ status.name }}</li>
        {% if status in line_items_by_status %}
        <ul>
            {% for line_item in line_items_by_status[status] %}
            <li>{{ line_item }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </ol>
    <p>Wil je de code van deze pagina zien of hieraan bijdragen?
        <a href="https://github.com/spijkercenter/azgewinkel-functions"
           target="_blank">Klik hier!</a>
    </p>
</div>
</body>
</html>